{% load staticfiles %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/shop.css' %}" type="text/css" />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all">
<link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'mycss/bootstrap.css' %}">
<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'myjs/bootstrap-3.1.1.min.js' %}"></script>
<script src="{% static 'dist/jquery.validate.js' %}"></script>
<script src="{% static 'myshoppingjavascript.js' %}"></script>
<title>Deva Shopping</title>
<style>
    .error
    {
        color:red;
        font-size:12px;
        font-weight: normal;
    }
    .mydiv1
    {
        margin:10px 0px;
        padding:10px;
        background-color: #efefef;
    }
    .mydiv1:hover
    {
        cursor: pointer;
        box-shadow:2px 2px 7px #000;
    }
</style>