{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'headerfiles.html' %}
</head>
<body style="background: url('{% static 'images/pic21.jpg' %}'); min-height: 100vh">
    <nav style="background-color: black">
        <a href="index"><h1 style="margin-left: 10px; margin-top: 0px; color: #ea1d5d">Deva-Shop</h1></a>
    </nav>
<div class="container">
    <div class="col-md-6 col-md-offset-3" style="margin-top: 5%">
        <h1 class="text-center" style="color: white">ADMIN LOGIN</h1><br>
        <div class="col-sm-12" style="background-color: whitesmoke;border-radius: 30px">
            <form id="frm_admin" method="get"><br><br>
                <input type="email" id="email" name="email" placeholder="Email" class="form-control" autofocus data-rule-required="true" data-msg-required="Please Enter Email"><br><br>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control" data-rule-required="true" data-msg-required="Please Enter Password"><br><br>
                <div class="text-center"><input type="button" class="btn btn-success" onclick="adminlogin()" value="LOGIN"></div><br>
                <div class="text-center"><span id="sp1" style="color: red"></span></div><br><br>
            </form>
        </div>
    </div>
</div>
</body>
</html>