<nav class="navbar-inverse" style="font-size: 15px">
    <a class="navbar-brand" href="AdminHomePage" style="color: white; font-size: 25px"><span class="glyphicon glyphicon-home" style="color: #ea1d5d"></span> Home</a>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span style="color: #ea1d5d" class="icon-bar"></span>
                <span style="color: #ea1d5d" class="icon-bar"></span>
                <span style="color: #ea1d5d" class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-right" style="margin-top: 3px; color: #ea1d5d">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #ea1d5d;"><span class="glyphicon glyphicon-th"></span> Messages</a>
                    <ul class="dropdown-menu">
                        <li style="display: block !important;"><a href="viewcontacts?sadmintype=Sub Admin">Contacts</a></li>
                        <li style="display: block !important;"><a href="viewreviews?sadmintype=Sub Admin">Reviews</a></li>
                        <li style="display: block !important;"><a href="postedreviews?sadmintype=Super Admin">Posted Reviews</a></li>
                    </ul>
                </li>
                <li><a href="pendingorderpage" style="color: #ea1d5d;"><span class="glyphicon glyphicon-hourglass"></span> Orders</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #ea1d5d;"><span class="glyphicon glyphicon-th"></span> Categories</a>
                    <ul class="dropdown-menu">
                        <li style="display: block !important;"><a href="InsertCT?sadmintype=Sub Admin">Insert</a></li>
                        <li style="display: block !important;"><a href="ViewCT?sadmintype=Sub Admin">View</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: #ea1d5d;"><span class="glyphicon glyphicon-th-list"></span> Products</a>
                    <ul class="dropdown-menu">
                        <li style="display: block !important;"><a href="addproductpage?sadmintype=Sub Admin">Insert</a></li>
                        <li style="display: block !important;"><a href="viewproductpage?sadmintype=Sub Admin">View</a></li>
                    </ul>
                </li>
                <li><a href="editadminprofile" style="color: #ea1d5d;"><span class="glyphicon glyphicon-user"></span> Edit Profile</a></li>
                <li><a href="adminlogout" style="color: #ea1d5d;"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>