<nav class="navbar-inverse" style="font-size: 17px">
    <a class="navbar-brand" href="/index" style="color: #ea1d5d; font-size: 35px">Deva-Shop</a>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span style="color: #ea1d5d" class="icon-bar"></span>
                <span style="color: #ea1d5d" class="icon-bar"></span>
                <span style="color: #ea1d5d" class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-right" style="margin-top: 3px; color: #ea1d5d">
                <li><a href="shop" style="color: #ea1d5d;"><span class="glyphicon glyphicon-th"></span> Products</a></li>
                <li><a href="myorders" style="color: #ea1d5d;"><span class="glyphicon glyphicon-th-list"></span> My Orders</a></li>
                <li><a href="edituserprofile" style="color: #ea1d5d;"><span class="glyphicon glyphicon-user"></span> Edit Profile</a></li>
                <li><a href="userlogout" style="color: #ea1d5d;"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
                <li><a href="mycart" style="color: #ea1d5d;"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a></li>
            </ul>
        </div>
    </div>
</nav>