{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'headerfiles.html' %}
</head>
<body style="background: url('{% static 'images/pic21.jpg' %}');min-height: 100vh">
{% for p in mydata %}
    {% if  p.sadmintype  %}
        {% if  p.sadmintype  == 'Super Admin' %}
            {% include 'superadmin_header.html' %}
        {% endif %}
    {% else %}
        {% if  p.sadmintype  == 'Sub Admin' %}
            {% include 'subadmin_header.html' %}
        {% endif %}
    {% endif %}
{% endfor %}
    <div class="container">
        <div class="text-center" style=" color: white"><h1>VIEW ADMINS</h1></div><br>
        <div style="background-color: whitesmoke; border-radius: 30px">
            <table class="table table-striped" style="text-align: center">
                <tr>
                    <th style="text-align: center">Email</th>
                    <th style="text-align: center">Password</th>
                    <th style="text-align: center">Full Name</th>
                    <th style="text-align: center">Admin Type</th>
                    <th style="text-align: center">Edit</th>
                    <th style="text-align: center">Delete</th>
                </tr>
                {% for result in mydata %}
                    {% if result.sadmintype %}
                    {% elif result.email == 'karan@gmail.com' %}
                    {% else %}
                        <tr>
                            <td>{{ result.email }}</td>
                            <td>{{ result.password }}</td>
                            <td>{{ result.fullname }}</td>
                            <td>{{ result.admintype }}</td>
                            <td><a href="{{ result.editurl }}"><span class='glyphicon glyphicon-pencil'></span></a></td>
                            <td><a href="{{ result.deleteurl }}"><span class='glyphicon glyphicon-trash' style='color:red;'></span></a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>